/*This will be a custom css stylesheet*/

footer {
    padding: 2em 0;
    margin: 3em 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}

.glyphicon{
    color: #cdae51;
}

.glyphicon-pushpin,
.glyphicon-heart {
    color: 
}

.pull-right.img-responsive{
    margin: 0 0 1em 1em;
}

.btn-info {
    background-color: #cdae51;
    border-color: #3F2B22;
    color: #fff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #3F2B22;
  border-color: #333;
}



.bgPicture {
  background: url('../img/Concert.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotronPicture {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}