.jumboHead {
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
}
.jumboHead h1,
.jumboHead .h1 {
    color: inherit;
}
.jumboHead p {
    font-size: 20px;
    font-weight: 200;
    color: black;
    font-family: sans-serif;
}
.container .jumboHead {
    border-radius: 6px;
}
.jumboHead .container {
    max-width: 100%;
}

a.jumboHeadLinks:link,a.jumboHeadLinks:visited {color:white;}

loginbody{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.loginVertical-offset-100{
    padding-top:100px;
}
 
#containerStream {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;
    background: white;
}

/*header*/
headerStream {
    width: 800px;
    margin: 40px auto;
}
 
header h1Stream {
    text-align: center;
    font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
     
}
 
header pStream {
    font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
    text-align: justify;
}
 
/*photobanner*/
 
.photobannerStream {
    height: 233px;
    width: 3550px;
}


/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}

